*{
	margin: 0;
	padding:0;
}
#content{
	position: relative;
	height: 600px;
	margin: 0 auto;
}
#list,#show{
	position: absolute;
	height: 100%;
}
#list{
	left: 0;
	width: 180px;
	background: #18476B;
}
#show{
	margin-top: 20px;
	left: 200px;
	right: 0px;
}

/*list*/
#list ul {
	/*width: 80%;*/
	display: block;
	color:#FFF;
}
li{	
	list-style: none;
	cursor: default;
}
.listMenu{
	font-size: 14px;
	padding: 8px 20px;
}
.subListMenu{
	padding: 5px 20px;
	font-size: 12px;
}
#unfold{
	position: absolute;
    left: 165px;
    top: 50%;
    width: 15px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #FFF;
    background: #3299EA;
    cursor: pointer;
} 
/*list end*/
.small_button{
	width: 50px;
	height: 30px;
	margin-left: 20px;
}
/*show*/		
#log_table tr:nth-child(even) td{
	background: #F5F5F5;
}
#log_table tr:nth-child(odd) td{
	background: #FFF;
}
#user_table tr:nth-child(even) td{
	background: #F5F5F5;
}
#user_table tr:nth-child(odd) td{
	background: #FFF;
}
/** log **/
#log_table{
	width: 100%;
}
.log_title,.log_subTitle{
	height: 40px;
	line-height: 40px;
}
#log_table tr{
	display: block;
}
#log_table td{
	font-size: 14px;
	color: #373737;
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}
.log_title{
	width: 100%;
}
.log_subTitle{
	line-height: 40px;
	text-align: center;
	width: 20%;
	float: left;
	background: #E7E7E7;
}
/** user **/
.user_title{
	width: 100%;
}
.user_subTitle{
	line-height: 40px;
	text-align: center;
	float: left;
	background-color: #E7E7E7;
}
.user_subTitle:nth-child(1){
	width: 20%;
}
.user_subTitle:nth-child(2){
	width: 10%;
}
.user_subTitle:nth-child(3){
	width: 20%;
}
.user_subTitle:nth-child(4){
	width: 15%;
}
.user_subTitle:nth-child(5){
	width: 15%;
}
.user_subTitle:nth-child(6){
	width: 20%;
}
#user{
	width: 100%;
	height: 500px;
	/*background: black;*/
}		
#user_table{
	width: 100%;
}
#user_table tr{
	display: block;
}
#user_table td{
	font-size: 14px;
	color: #373737;
	height: 50px;
	line-height: 50px;
	display: block;
	float: left;
	width: 20%;
	text-align: center;
}
#user_table td:nth-child(1){
	width: 20%;
}
#user_table td:nth-child(2){
	width: 10%;
}
#user_table td:nth-child(3){
	width: 20%;
}
#user_table td:nth-child(4){
	width: 15%;
}
#user_table td:nth-child(5){
	width: 15%;
}
#user_table td:nth-child(6){
	width: 20%;
}
/* user end */
/* newUser */
#newUser{
	width: 100%;
	/*height: 500px;*/
	/*background: red;*/
}
.newUser_top{
	height: 85px;
	border-bottom: solid 1px lightgray;
}
.newUser_top div input{
	width: 250px;
	height: 22px;
}
.name_input{
	float: left;
	margin-top: 25px;
}
.des_input{
	float: left;
	margin-top: 20px;
	margin-left: 65px;
}
.newUser_middle{
	/*height: 350px;*/
	border-bottom: solid 1px lightgray;
	padding-bottom: 50px;
}
.newUser_middle span{
	display: block;
	margin-top: 30px;
}
.newUser_middle table{
	margin-top: 15px;
	margin-left: 95px;
}
.newUser_middle table tr td{	
	border: solid 1px lightgray;
	border-collapse: collapse;
	padding: 20px 35px;
}
.newUser_middle table tr td span{
	display: block;
	float: left;
	margin-top: 0;
}
.newUser_middle table tr td span input{
	margin-left: 40px;
	margin-right: 10px;
}

.newUser_bottom{
	height: 72px;
	border-bottom: solid 1px lightgray;
	/*padding-top: 30px;
	padding-bottom: 30px;*/
}
.newUser_bottom span{
	display: block;
	float: left;
	margin-top: 25px;
	margin-bottom: 25px;
}
.newUser_bottom span input{
	margin-right: 10px;
}
.newUser_bottom span:nth-child(2){
	margin-left: 30px;
}
.newUser_bottom span:nth-child(3){
	margin-left: 50px;
}
.newUser_btm_btn{
	float: right;
}
.newUser_btm_btn button{
	margin-top: 30px;
	margin-right: 20px;
	border: none;
	width: 200px;
	height: 60px;
	color: white;
	font-size: 20px;
}
.newUser_btm_btn button:nth-child(1){
	background-color: #EFA600;
}
.newUser_btm_btn button:nth-child(2){
	background-color: #00ABEF;
}
/* newUser end */
#editUser{
	width: 100%;
}
/*show end*/